*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*.xml
*~
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-core-comi.xml
issues.json
package-lock.json
report.xml
venv/
!requirements.txt
